*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore/*.keystore

# Python / Server
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
third_party/swiftsay_server/venv/
*.log
